*{
    padding: 0;
    margin: 0;
}

.header {
    width: auto;
    height: 60px;
    background-color: #37cfbb;
  }
  .pemisahNC {
    margin-top: 60px;
    width: auto;
    background-color: darkolivegreen;
    height: 10px;
  }

.container{
    margin-top: 20px;
}

.btn{
    margin-top: 40px;

}

